# ---------- APPLICATION ----------
ENV=development
PORT=50051
ENABLE_REFLECTION=true

# ---------- DATABASE ----------
POSTGRES_URL=<POSTGRES_URL>
POSTGRES_PORT=5432
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DB=teals-db

# ---------- CHECKPOINT ----------
SERVER_PRIVATE_KEY_B64=<SERVER_PRIVATE_KEY_B64>
CHECKPOINT_INTERVAL=10s

# ---------- KEK/DEK ----------
MASTER_KEK_B64=<MASTER_KEK_B64>